.nav{
    padding:13px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e8f0;
    align-items: center;
}

.nav .left{
    display: flex;
    align-items: center;
    align-items: center;
}

.nav.left .menu{
    display: flex;
    margin-left:40px;
}

.nav .left .menu li a{
    color:#4a5568 ;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 3px 16px;
    display: block;
    font-size: 16px;
}

.nav .left .menu li a:hover{
    color:#000000 ;
}

.nav .right a:first-child{
    margin-right: 6px;
}

.logo{
    font-weight: bold;
    font-size: 18px;
    border-right: 1px solid #e2e8f0;
    padding-right: 8px;
}